body {
    margin: 10px 100px 10px 10px;
}

h1 {
    color: #cdcdcd;
}
p {
    color: #f2f2c2;
}

h3 {
    color: #cdcccc;
}

label {
    color: #f2f292;
}

input[type=text] {
    width: 100%;
    padding: 4px 10px;
    border: none;
    border-radius: 6px;
}

input[type=submit] {
    width: 100%;
    padding: 4px 10px;
    background-color: YellowGreen;
    color: teal;
    border: none;
    border-radius: 6px;
}
