<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
	<link rel="stylesheet" href="../static/main.css">
</head>
<body style="font-family: Helvetica; background-color: slategrey">
    <h1 style="text-align: justify">Home Page</h1>
    <hr>
    <p style="text-align: justify">This is an app used to calculate a proportional bill for you and your flatmates. <br>
    This page was developed using Flask, a popular web development library for Python.</p>
    <hr>
    <a href="/bill">Go to bill page</a>
</body>
</html>
